{% load static %}
로그인 페이지
<br>
<img src="{% static 'login.png' %}" alt="">
<br>
{% if user.is_authenticated %}
    로그인성공!
    {{user.username}}님 환영합니다.
    <a href="{% url 'login:logout' %}">로그아웃</a>
    
{% else %}

<form class="form-signin" method="POST" action="">
    {% csrf_token %}
    <input type="text" id="userid" name="userid" class="form-control" placeholder="ID" autofocus=""/>
    <input type="password" id="userpw" name="userpw" class="form-control" placeholder="Password"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
</form>
<a href="{% url 'login:signup' %}">회원가입</a>
{% endif %}